aws_region   = "ap-southeast-1"
project_name = "goldenowl"

vpc_cidr = "10.0.0.0/16"

public_subnet_cidrs = [
  "10.0.0.0/24",
  "10.0.1.0/24",
]

private_subnet_cidrs = [
  "10.0.10.0/24",
  "10.0.11.0/24",
]

additional_tags = {
  Owner = "erotonin"
}