aws_region              = "us-east-1"
project_name            = "goldenowl"
state_bucket_name       = "goldenowl-terraform-state-ACCOUNT_ID-REGION"
shared_state_key        = "goldenowl/shared/terraform.tfstate"
container_image         = "ACCOUNT_ID.dkr.ecr.REGION.amazonaws.com/goldenowl-app@sha256:IMAGE_DIGEST"
task_execution_role_arn = "arn:aws:iam::ACCOUNT_ID:role/LabRole"

additional_tags = {
  Owner = "erotonin"
}
